<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
    <a mat-button routerLink="/" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a mat-button [matMenuTriggerFor]="menu" (click)="openMegaMenu()">Fashion<mat-icon class="caret">arrow_drop_down</mat-icon></a>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" class="mega-menu app-dropdown">
        <div fxLayout="row wrap">
            <div fxFlex="20" fxLayout="column" class="p-1"> 
                <a mat-menu-item routerLink="/"><b>MULHERES</b></a>
                <mat-divider></mat-divider> 
                <a mat-menu-item routerLink="/">Vestidos e Saias</a>
                <a mat-menu-item routerLink="/">Casacos</a>              
                <a mat-menu-item routerLink="/">Tops e Blusas</a>
                <a mat-menu-item routerLink="/">Sapatos e Botas</a>
                               
            </div>
            <div fxFlex="20" class="p-1"> 
                <a mat-menu-item routerLink="/"><b>HOMENS</b></a>
                <mat-divider></mat-divider> 
                <button mat-menu-item>T-shirts e Polos</button>
                <button mat-menu-item>Sapatos e Botas</button> 
                <button mat-menu-item>Jeans</button> 
                <button mat-menu-item>Casacos</button> 
            </div>
            <div fxFlex="20" class="p-1"> 
                <a mat-menu-item routerLink="/"><b>CRIANÇAS</b></a>
                <mat-divider></mat-divider> 
                <button mat-menu-item>Top</button>
                <button mat-menu-item>Calças e Calções</button>
                <button mat-menu-item>VESTIDOS</button> 
                <button mat-menu-item>Blusas</button> 
                <button mat-menu-item>Set & Body</button> 
            </div>
            <div fxFlex="20" class="p-1"> 
                <a mat-menu-item routerLink="/"><b>ACCESSORIOS</b></a>
                <mat-divider></mat-divider>                
                <button mat-menu-item>Relógios</button>  
                <button mat-menu-item>Bolsas e Carteiras</button>
                <button mat-menu-item>Oculos</button> 
                <button mat-menu-item>Cintos e Chapéus</button> 
            </div>
            <div fxFlex="20" class="p-1"> 
                <mat-card class="mega-menu-widget p-0">
                    <mat-chip-list>
                        <mat-chip color="warn" selected="true">50% OFF</mat-chip>
                    </mat-chip-list>
                    <button mat-raised-button color="primary">Compre agora</button>
                    <img src="assets/images/others/mega_menu_img.png" alt="" class="w-100"> 
                </mat-card>
            </div>
        </div>
           
    </mat-menu>
    
    <a mat-button [routerLink]="['/products', 'jewellery']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Jóias</a>
    <a mat-button [routerLink]="['/products', 'electronics']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Electronica</a>
    <a mat-button [routerLink]="['/products', 'sports']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Desporto</a>
    <a mat-button [routerLink]="['/products', 'motors']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Motores</a>

    <a mat-button [matMenuTriggerFor]="animals">Paginas<mat-icon class="caret">arrow_drop_down</mat-icon></a>
    <mat-menu #animals="matMenu" [overlapTrigger]="false" class="app-dropdown"> 
        <a mat-menu-item routerLink="/products" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Todos os produtos</a> 
        <a mat-menu-item [routerLink]="['/products', '2', 'PC All-in-One']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Detalhes do produto</a> 
        <a mat-menu-item routerLink="/contact" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Contacto</a>  
        <a mat-menu-item routerLink="/sign-in">Entrar</a>       
        <a mat-menu-item routerLink="/404">404 Erro</a>
        <a mat-menu-item [matMenuTriggerFor]="others">Outros</a>
    </mat-menu>

    <mat-menu #others="matMenu" class="app-dropdown">
        <a mat-menu-item href="http://themeseason.com" target="_blank">Link Externo</a>
        <a mat-menu-item>Menu item</a>
        <a mat-menu-item>Menu item</a>
        <a mat-menu-item>Menu item</a>
    </mat-menu>
    
    <a mat-button routerLink="/contact" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Contacto</a>

</mat-toolbar>

